includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/
        - config/
        - database/
        - routes/

    configDirectories:
        - config

    viewDirectories:
        - resources/views

    # Level 9 is the highest level
    level: 5

    excludePaths:
        # - ./*/*/FileToBeExcluded.php
